/* CSS Stylesheet */

body {
font-family: "roboto", sans-serif;
margin: 0;
}

ul {
display: flex;
list-style-type: none;
margin: 0;
padding: 0;
font-size: 18px;
}

.secondary {
font-size: 18px;
color: #E5E7EB;
}

a {
text-decoration: none;
color: white;
}

.header, .signup {
display: flex;
padding: 20px 48px;
background-color: #1F2937;
align-items: center;

}

.hero-text, .header-logo {
color: #F9FAF8;

}

.header-logo {
font-size: 24px;
font-weight: bold;
}

.header ul {
margin-left: auto;
gap: 10px;
}

.signup {

}

.signup img {
width: 600px;
}

.hero-text {
font-size: 48px;
font-weight: 900; 

}

.content {
display:flex;

}

.boxes .secondary {
color: #1f2937;
}

.content, .quotebox {
color: #1f2937;

}

button {
background-color: #3882F6;
color:#F9FAF8;
}

.info-header {
font-size: 36px;
font-weight: 900;
color: #1F2937;
}

.content img {
width: 150px;
}

.boxes {
display: flex;

}

.quotebox {
display:flex;
background-color: #E5E7EB;
}

.quotebox .quote {
font-size: 36px;
font-style: oblique 7deg;

}

.call {
display:flex;

}

.callbox {
background-color: #3882F6;
color:#F9FAF8;

}

.footer {
display: flex;
padding: 20px 48px;
background-color: #1F2937;
align-items: center;
font-size: 18px;
color: #E5E7EB;

}
